{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Candidate List</title>
</head>
<body>
    <h1>Candidate List</h1>

    {% if candidates %}
        <ul>
            {% for candidate in candidates %}
                <li>
                    {% if candidate.avatar %}
                        <img src="{{ candidate.avatar.url }}">
                        <!-- {{candidate.avatar}} -->
                    {% endif %}
                    <!-- <img src="{{ candidate.avatar.url }}" alt="{{ candidate.user.firstname }} Avatar" width="50"> -->
                    <h2>{{ candidate.user.firstname }} {{ candidate.user.secondname }}</h2>
                    <p>Biography: {{ candidate.biography }}</p>
                    <p>Contact Information: {{ candidate.contact_information }}</p>
                    <p>Social Media Links: {{ candidate.social_media_links }}</p>
                    {% if candidate.party %}
                        <p>Party: {{ candidate.party.title }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
