<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Polling Site</h2>
    <ul class="navbar">
        
        <li class="nav-list"><a class="nav-link" href="{% url '' %}"></a></li>
        <li class="nav-list"><a class="nav-link" href="{% url '' %}"></a></li>
        {% if user.is_authenticated %}
            
            <li class="nav-link"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-link"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-link"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-link"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}

    </ul>

    {% block body %}

    {% endblock %}

</body>
</html>